<div class="row">
<div class="col-md-2">
  <nav class="nav flex-column">
    <a class="nav-link" routerLink="all-student"  >All students </a>
    <a class="nav-link" routerLinkActive="active" routerLink="add-student"> Add students</a>
  </nav>
</div>
<div class="col-md-10">
    <router-outlet></router-outlet>
</div>
</div>
