<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" >Add Student</h1>
</div>
<form #addForm="ngForm" (ngSubmit)="save()">
    <div class="row"> 
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>First Name</label>
                    <input  type="text" name="firstName" class="form-control" [(ngModel)]="student.firstName" required    #firstNameValidator="ngModel">
                <div *ngIf="firstNameValidator.invalid && firstNameValidator.touched " class="alert alert-danger" > first name is required </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Last Name</label>
                    <input type="text" name="lastName" class="form-control" required minlength="6"    #lastNameValidator="ngModel" [(ngModel)]="student.lastName">
                    <div *ngIf=" (lastNameValidator.invalid  && lastNameValidator.touched)" class="alert alert-danger" >
                        <div *ngIf="lastNameValidator.errors.required "> last name is required</div>
                        <div *ngIf="lastNameValidator.errors.minlength "> last name must be more then 6 caracters</div>
                    </div>

                </div>
            </div>
            <div class="row" >
                <div class="col-md-12 mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" email required #emailValidator="ngModel" [(ngModel)]="student.email">
                    <div *ngIf="emailValidator.invalid && emailValidator.touched " class="alert alert-danger" >
                            <div *ngIf="emailValidator.errors.required "> last name is required</div>
                            <div *ngIf="emailValidator.errors.email ">  must be a valid email</div>
                        </div>
                        <div *ngIf="emailValidator.invalid && emailValidator.submitted " class="alert alert-danger" >
                                <div *ngIf="emailValidator.errors.required "> last name is required</div>
                                <div *ngIf="emailValidator.errors.email ">  must be a valid email</div>
                            </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="col-md-12 mb-3">
                    <label>Phone number</label>
                    <input type="number" class="form-control" pattern="[0-9]{8}" required  #phoneValidator="ngModel" name="phone"  [(ngModel)]="student.phone">
                    <div *ngIf=" (phoneValidator.invalid  && phoneValidator.touched)" class="alert alert-danger" >
                            <div *ngIf="phoneValidator.errors.required "> phone number is required</div>
                            <div *ngIf="phoneValidator.errors.pattern "> phone number must be 8 digit</div>
                        </div>
                </div>
            </div>
            <div class="form-group text-right" >
                <button  type="button" class="btn btn-secondary">Cancel</button>
                <button [disabled]="addForm.invalid" type="submit"  class="btn btn-success">Add Student</button>
            </div>
        </div>       
    </div>
</form>