<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Liste des étudiants</h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col">Mot de passe</th>
      <th scope="col">Age</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.password }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.phone }}</td>
      <td>
        <button type="button" class="btn btn-danger"
        (click)="delete(student.id)">Delete</button>        
        <button type="button" class="btn btn-primary" [routerLink]="'/add-student'"
        [queryParams]="{idStudent: student.id}">Edit</button>      </td>
    </tr>
  </tbody>
</table>
